/* import main style */
@import "../index.css";

div {
    font-size: 2.5vw;
    color: white;
}

#main_div {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.noscroll::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance:textfield;
    -moz-appearance:textfield; /* Firefox */
}

/* remove border on inputs */
input {
    width: 12vw;
    height: 4vh;
    /* black */
    background-color: #0d0404;
    color: rgb(143, 205, 244);
    font-size: 2.5vw;
    font-family: "Times New Roman";
    font-weight: bold;
    border: 0;
}

.one-line {
    display: inline-block;
}

#timer, #date {
    font-size: 4vw;
}