body {
    /* pink */
    background-color: #0d0404;
}

div {
    font-size: calc(4vw + 3.5vh);
    font-weight: bold;
    color: rgb(255, 91, 198);
}

#main_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;

    /* debug */
    /* background-color: red; */
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}

.child {
    /* TODO: add fallback font-size */
    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    text-align: center;
    
    /* debug */
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}

a {
    padding: 1.5vw;
    text-decoration: none;
}

a:link {
    /* blue */
    color: rgb(1, 99, 185);
}

a:visited {
    /* purple */
    color: rgb(129, 24, 200);
}

a:hover {
    text-decoration: underline;
}

a:active {
    /* orange */
    color: rgb(236, 169, 75);
}

/* .shadow {
    text-shadow: 2px 2px 2px black;
} */

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}