/* import main style */
@import "../index.css";

#main_div {
    justify-content: flex-start;
}

label {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.5vw + 1.5vh);
    /* padding: 10px; */
}

textarea {
    /* background-color: rgba(255, 255, 255, 0.637); */
    resize: none;
    width: 30vw;
    height: 25vh;
}

/* padding does not work on textarea; this fixes that */
.buffer {
    width: 100vw;
    height: 10px;
}

.noscroll::-webkit-scrollbar {
    display: none;
  }

.child {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.5vw + 1.5vh);

    /* debug */
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
}