/* import main style */
@import "../index.css";

div {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.25vw + 1.25vh);
    color: white;
}

#main_div {
    justify-content: flex-start;
}

textarea {
    /* background-color: rgba(255, 255, 255, 0.637); */
    resize: none;
    width: 30vw;
    height: 25vh;
}

.noscroll::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    appearance:textfield;
    -moz-appearance:textfield; /* Firefox */
}

input {
    width: 4vw;
}

#average-input, #streak-input {
    width: 15vw;
}

.green {
    color:rgb(18, 208, 75);
}

.red {
    color:rgb(216, 22, 22);
}

.nobold {
    font-weight: normal;
}

#div-container {
    flex-direction: row;
    align-items: flex-start;    
    justify-content: flex-start;
    /* background-color: aqua; */
    flex: auto;
}

#graph-box {
    flex: 1;
    max-width: 35vw;
}

.sideways {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;  */
    width: 99vw;
    gap: 10px;
    
    /* margin: auto; */

    /* background-color: aqua; */
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 31vh;
}

.settings {
    /* align-items: flex-start; */
    flex: auto;
    gap: 2px;
}

.setting-div {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.15vw + 1.15vh);
    /* background-color: aqua; */
}