/* import main style */
@import "../index.css";

div {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.5vw + 1.5vh);
    color: white;
}

#main_div {
    justify-content: flex-start;
}

textarea {
    /* background-color: rgba(255, 255, 255, 0.637); */
    resize: none;
    width: 30vw;
    height: 25vh;
}

.noscroll::-webkit-scrollbar {
    display: none;
}

.green {
    color:rgb(18, 208, 75);
}

.red {
    color:rgb(216, 22, 22);
}

.nobold {
    font-weight: normal;
}

#div-container {
    align-items: flex-start;
    justify-content: flex-start;
    flex: auto;
}

.sideways {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;  */
    width: 99vw;
    gap: 10px;
    
    /* margin: auto; */

    /* background-color: aqua; */
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 31vh;
}

.settings {
    /* align-items: flex-start; */
    flex: auto;
    gap: 2px;
}

.setting-div {
    /* fallback font-size */
    font-size: 30px;

    /* This strange font size looks the best out of all the ones I tried;
    Maybe I should change it sometime soon, but it works fine. */
    font-size: calc(1.25vw + 1.25vh);
    /* background-color: aqua; */
}

button {
    width: 10vw;
    height: 6vh;
    color: white;
    border-color: rgb(95, 95, 95);
}

#file-button {
    color: black;
}

.button-off {
    background-color: rgb(216, 22, 22);
}

.button-on {
    background-color: rgb(18, 208, 75);
}